/* Стилизация аккордеона */
.container{
    margin: 0 auto;
    width: 730px;
   font-family: 'Inter';

}
summary{
    padding: 24px 47px 24px 32px;
    color: #212429;

}

details p{
margin: 0px;
padding: 0px 48px 32px 32px;
font-size: 16px;
line-height: 24px;
color: #495057;


}

details{

    min-height: 72px;
border: 1px solid #ACB5BD;
border-radius: 8px;


}

details ~ details{
    margin-top: 8px;
}