.footer{
background-color: var(--white);
text-align: center;
color: #212429;
font-family: 'Inter';
font-style: normal;    
}
.footer__title{
font-size: 38px;
line-height: 48px;
margin:0px;
padding-top: 72px;
padding-bottom: 32px;
}

.footer__description{
 max-width: 645px;
padding-bottom: 136px;
font-size: 16px;
line-height: 24px;
margin: 0;
font-weight: 400;
display: inline-block

}


