.footer{
background-color: var(--white);
text-align: center;
color: #212429;
font-family: 'Inter';
font-style: normal;    
}
.footer__title{
font-size: 38px;
line-height: 48px;
margin:0px;
margin-top: 72px;

}

.footer__description{
 max-width: 645px;

font-size: 16px;
line-height: 24px;
margin: 0;
font-weight: 400;
display: inline-block;
margin: 0 auto;

}
.footer__text{
    margin-bottom: 136px;
    margin-top: 32px;
}


