@import '../../assets/css/main.css';
@import '../container/container.css';

.content{
    padding: 68px 0 204px 0;
    background-color: var(--grey-1);

}
.content-card{
    height: 367px;
    width: 350px;

}
.card{
    background-color: var(--white);

}
.content-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  
}